.school-bg {
  background: url('../../img/school.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.width-full
{
    width: 100%;
}

.pad15-tb
{
	padding-top: 15px;
	padding-bottom:15px;
}
.pad15
{
	padding: 15px;
}
.pad15-left
{
	padding-left: 15px;
}

.front
{
	z-index: 99;
}

.claimed
{
	color: #47a447;
}
.col-md-4-super_special{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 0px;
  text-align:left;
  font-size: smaller;
  font-weight: lighter;

}

.special_row{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
	font-size: smaller;
	font-weight: medium;

}

.table {
  width: 100%;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.blue
{
	background-color: #0099FF;
}
.cream
{
	color: #EEDDCC;
}
.green
{
	color: #7474ee;
}